body{
    margin: 0;
    font-family:  sans-serif;
    background-color:#b57b52;
    color: #fff;
}
header{
    background-color: #b57b52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header nav li{
    background-color: #b57b52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header nav  li a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: flex;
    margin: 0 15px;
}
.section1{
    background: url(OK.avif);
    height:400px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    
}
.section1 h1{
    font-size: 50px;
    margin:0;
}
.section1 button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.section2{
    padding: 50px;
    text-align: center;
    color: #000;
}
.menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.foto{
    background: #fff;
    color: #000;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 8px rgb(0, 0, 0);
}
.foto img{
    width: 100%;
    height: 100px;
}
.foto h2{
    margin: 10px 0 ;
}
.foto button{
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #b57b52;
    color: white;
    border: none;
}
