body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#b57b52;
    color: #fff;
}
header{
    background-color: #b57b52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header li{
    background-color: #b57b52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
header nav  li a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 0 15px;
}
.section1{
    background: url(OK.avif);
    height:400px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    
}
.section1 h1{
    font-size: 50px;
    margin:0;
}